main {
    width: 900px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    min-height: 400px;
}
header {
    margin: 1em auto;
    border-bottom: 1px solid black;
}
header img {
    margin-right: 2em;
}
header span {
    display: inline-block;
}
footer {
	margin: 2em auto 10px auto;
	border-top: 1px solid black;
	padding: 10px;
	text-align: center;	
}
a.logo {
	text-decoration: none;
	font-family: 'Monoton', cursive;
	font-size: 18px;
}

a.logo:hover {
	text-decoration: none;
}

@media all and (max-width: 899px) {
    main {
        width: 100%;
        padding: 0 15px;
    }
    col {
        width: 100%;
    }
}